:root {
    font-size: 16px;
    font-family: 'Ramabhadra', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #ffffff;
    --bg-secondary: #9e9ef0;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;

}

body::-webkit-scrollbar-track {
    background: #b7b7b9;
}

body::-webkit-scrollbar-thumb {
    background: #6c6c6d;
    border-radius: 1em;
}

main {
    margin-left: 5rem;
    height: 100vh;
    margin: 0;
    padding-left: 5rem;
    display: flex;
    justify-content: space-around;
}




.card-more-sugg {
    display: flex;
    background-color: #e9e9e959;
    padding: 5em 3em;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    margin-left: 2em;
    transition: 0.4s ease;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.5);
    cursor: pointer;
}


.card {
    color: white;
    border-radius: 30px;
    width: 60%;
    max-width: 60%;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

}


#suggestions ul {
    width: 90%;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-top: 0;
    margin-left: 1em;
    padding: 0;
}

#suggestions ul li {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

#suggestions ul li:hover {
    background-color: #f1f1f1;
}

#suggestions ul li.active {
    background-color: #f1f1f1;
}

.li-sepecial {
    padding: 1em;
}


.search-button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 3.4em;
    width: 3.4em;
    outline: none;
    background: #afafaf2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search-button:hover {
    background: #cecece2b;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background-color: #afafaf2b;
    color: #000000;
    font-size: 120%;
    width: 100%;
}


.navbar {
    position: fixed;
    background-color: #ebebeb;
    transition: width 600ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    justify-content: space-between;
}

.nav-item {
    width: 100%;
    text-align: center;
}

.nav-item:last-child {
    margin-top: auto;

}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
    padding-left: 0.1em;
    padding-top: 1.5em;
    flex-direction: column;
}

.nav-link span {
    padding-right: 18px;
    padding-top: 9px;
}

.nav-link:hover {
    font-weight: bold;
    color: #000000;
}

.link-text {
    margin-left: 1rem;
    font-size: 0.9em;
    font-weight: bold;
}

.logo {
    background-color: #ebebeb;
    font-size: 1.5rem;
    width: 100%;
}

#main-icon {
    padding-top: 1em;
    border: 1px solid #c6c4d3;
    padding: 8px;
    border-radius: 14px;
    background-color: #c6c4d3;
    color: #9e9ef0;
}

#icons {
    width: 50px;
}

.icon {
    width: 59%;
}

.current-day {
    display: flex;
    width: 100%;
}

#ul-s {
    color: #000000;
}

.city-status {
    padding: 0;
    margin: 0;
}


#suggestions ul li img {
    width: 50px;
}


/* PAGE 2 (weather) */

.info {
    display: flex;
    justify-content: space-between;
}

.display {
    display: flex;
    flex-direction: column;
    padding-left: 3.5em;
}

.city-info {
    color: #000000;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: bold;
}

.humidity-weather-info {
    color: #000000;
    padding: 0;
    margin: 0;
    font-family: 'Ramabhadra', sans-serif;
}

.temp-weather-info {
    color: #000000;
    font-size: 50px;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: bold;
    padding-top: 1em;
}

.icon-weather-info img {
    width: 16em;
    margin-right: 6em;
}

.forecast-all-day {
    background-color: #cccccc75;
    height: 20em;
    border: none;
    border-radius: 20px;
}

.forecast-title {
    color: #8a8a8a;
    padding: 1.5em;
}

.all-day-forecast {
    display: flex;
    justify-content: space-around;
}

.div-card-forecast-info {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: none;
    border-radius: 10px;
    width: 7em;
    height: 9em;
}

.clock {
    color: #8a8a8a;
    text-align: center;
}

.div-forecast-info-icon img {
    width: 80px;
    padding-top: 1em;
}

.div-forecast-info-icon {
    display: flex;
    justify-content: center;
}

.todayssforcast-info {
    display: flex;
    flex-direction: row;
}

.temp-of-day-info {
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
}

.air-condition {
    background-color: #cccccc75;
    height: 20em;
    border: none;
    border-radius: 20px;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.real-feel {
    padding-left: 4em;
    display: flex;
    flex-direction: column;
}

.wind-feel {
    padding-left: 4em;
    display: flex;
    flex-direction: column;
}

.chanceOfRain {
    padding-left: 4em;
    display: flex;
    flex-direction: column;
    padding-top: 1.7em;

}


.temp-of-air {
    color: #000000;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-left: 1.6em;
    padding-top: 0.5em;

}

.temp-of-humidity {
    color: #000000;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-top: 0.5em;
    padding-left: 1em;
    font-size: 25px;

}

.fell-vaontainer {
    display: flex;
    padding-top: 1em;
    align-items: center;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: bold;
    color: #8a8a8ac4;
}

.fell-wind-vaontainer {
    display: flex;
    padding-top: 1em;
    align-items: center;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: bold;
    color: #8a8a8ac4;
}

.rain-caontainer {
    display: flex;
    padding-top: 1em;
    align-items: center;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: bold;
    color: #8a8a8ac4;
}

.uvIndex-caontainer {
    display: flex;
    padding-top: 1em;
    align-items: center;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: bold;
    color: #8a8a8ac4;
}

.divre {
    padding-left: 1em;
    font-size: 25px;
}

.divre-wind {
    padding-left: 1em;
    font-size: 25px;
}

.divre-uv-Index {
    padding-left: 1em;
    font-size: 25px;
}

.divrehumidity {
    padding-left: 1em;
    font-size: 25px;
}

.uvIndex {
    padding-left: 1em;
    font-size: 25px;
}

.temp-of-air {
    padding-left: 1em;
    font-size: 25px;
}

.temp-of-air-wind {
    padding-left: 1em;
    font-size: 25px;
    color: #000000;
    font-family: 'Ramabhadra', sans-serif;
    padding-top: 0.5em;
    font-weight: bold;
}

.temp-of-air-uvindex {
    padding-left: 1em;
    font-size: 25px;
    color: #000000;
    font-family: 'Ramabhadra', sans-serif;
    padding-top: 0.5em;
    font-weight: bold;
}

.wiuvi {
    padding: 4.3em;
}

.forecast-all-days-week {
    display: flex;
    padding: 2.2em 2.8em 2.8em 2.8em;
    justify-content: space-around;
    align-items: center;
}

.forecast-all-days-week img {
    width: 70px;
}

.weekend-forecast {
    background-color: #cccccc75;
    width: 30%;
    margin-top: 2em;
    border: none;
    border-radius: 20px;
    height: 94%;
}

hr {
    width: 80%;
    padding-top: 0;
    margin-top: 0;
}


@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    .nav-item:last-child {
        margin-top: 0;

    }
}


@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
}

@media screen and (min-width: 768px) {
    .search-history li {
        font-size: 1.2vw;
    }

    .icon-latest {
        width: 5vw;
        height: 5vw;
    }

    .weatherCon {
        font-size: 1.5vw;
    }

    .tempSeg {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 1024px) {
    .search-history li {
        font-size: 1vw;
    }

    .icon-latest {
        width: 3vw;
        height: 3vw;
    }

    .weatherCon {
        font-size: 1vw;
    }

    .tempSeg {
        font-size: 1vw;
    }
}

/* For screens smaller than 768px */
@media (max-width: 900px) {
    main {
        margin: 0;
        padding: 0;
    }

    .carddds-container {
        flex-direction: column;
        align-items: center;
    }

    .card-forecast {
        margin-bottom: 1em;
    }

    .time {
        position: absolute;
        text-align: center;
        margin-bottom: 0.5em;
    }

    .iconEl {
        width: 60px;

    }

    .tempEl {
        position: absolute;
        margin-top: 0.5em;
        text-align: center;
    }

    .conntainer-more-sugg {
        flex-direction: column;
        padding: 1em;
    }

    .card-more-sugg {
        margin: 0 0 2em 0;
        width: 30%;
    }

    .cityNmae-more-suggetions {
        display: flex;
        text-align: center;
        position: absolute;
        top: 0;
    }

    .temp-more-suggtions1 {
        margin-top: 0.5em;
        display: flex;
        text-align: center;
        position: absolute;
        bottom: 0;
    }

    .forecast-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-right: 3em;
        padding-top: 2em;
    }

    .week-forecast {
        margin-bottom: 1em;
        width: 70%;
    }

    .city {
        font-size: 25px;
        font-weight: bold;
    }

    .icon {
        width: 35px;
        margin-top: 40px;
    }

    .description {
        width: 25px;
    }

    .temp {
        font-size: 25px;
        width: 15px;
    }

    .countainer-status-city-temp {
        padding: 0;
        margin: 0;
    }

    .humidity {
        padding: 0;
        margin: 0;
    }

    .wind {
        padding: 0;
        margin: 0;
    }
}