:root {
    font-size: 16px;
    font-family: 'Tilt Neon', cursive;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #ffffff;
    --bg-secondary: #9e9ef0;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;

}

body::-webkit-scrollbar-track {
    background: #b7b7b9;
}

body::-webkit-scrollbar-thumb {
    background: #6c6c6d;
    border-radius: 1em;
}

main {
    margin-left: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-left: 5rem;
}



.card {
    background: #bebdbdd0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#suggestions ul {
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: calc(100% - 100px);
    margin-top: 0;
}

#suggestions ul li {
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    color: #000000;
    text-transform: capitalize;
    list-style: none;
}

#suggestions ul li:hover {
    background-color: #f1f1f1;
}

#suggestions ul li.active {
    background-color: #f1f1f1;
}


.search-button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 3.4em;
    width: 3.4em;
    outline: none;
    background: #afafaf2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search-button:hover {
    background: #cecece2b;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background-color: #afafaf2b;
    color: white;
    font-size: 120%;
    width: calc(100% - 100px);
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.description-container {
    display: flex;
    align-items: center;
}

/* #ul-s li {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background-color: #afafaf2b;
    color: white;
    font-size: 120%;
    width: calc(100% - 100px);
} */


.navbar {
    position: fixed;
    background-color: #ebebeb;
    transition: width 600ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    justify-content: space-between;
}

.nav-item {
    width: 100%;
    text-align: center;
}

.nav-item:last-child {
    margin-top: auto;

}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
    padding-left: 0.1em;
    padding-top: 1.5em;
    flex-direction: column;
}

.nav-link span {
    padding-right: 18px;
    padding-top: 9px;
}

.nav-link:hover {
    font-weight: bold;
    color: #000000;
}

.link-text {
    margin-left: 1rem;
    font-size: 0.9em;
    font-weight: bold;
}

.logo {
    background-color: #ebebeb;
    font-size: 1.5rem;
    width: 100%;
}

#main-icon {
    padding-top: 1em;
    border: 1px solid #c6c4d3;
    padding: 8px;
    border-radius: 14px;
    background-color: #c6c4d3;
    color: #9e9ef0;
}

#icons {
    width: 50px;
}

.icon {
    width: 50px;
}

#ul-s {
    color: #000000;
}



@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    .nav-item:last-child {
        margin-top: 0;

    }
}


@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
}